
/*clearfix class */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*body styles*/

body {
	background-color: #f8fff7;
	line-height: 1em;
}

/*Media query which says when the screen 
is at least 700px width, that's 700px or bigger, 
make the background blue. */
@media screen and (min-width: 700px) {
	
	body {
		background-color: #f8fff7;
	}
}

/*Navigation*/
.portfolio-navigation {
	height: 50px;
	background-color: #201e1c;
}

.navigation-item {
	display: inline-block;
	
}

.navigation-menu{
	text-align: center;
	padding-top: 20px;
}

.navigation-link {
	padding: 0 20px;
	text-decoration: none;
	color: #ffffff;
	transition: color 0.5s;
}
.navigation-link:hover {
	color: #b8b8b8;
}

.is-active{
	border-bottom: 2px solid white;

}
/*Defining the container widths */

/*Because we're designing for mobile first,
we'll start off with a container width of 240px and 
used media queries to increase the size */
.main-container {
	background-color: #92c14d;
	width: auto;
	height: auto;
	margin: auto;
}

/*Home Page */

.main-projects-preview {
	margin: 0 auto;
	width: 960px;
	padding: 0;

}

.main-image-preview {
	margin: 0 auto;
	width: 960px;
	display: inline-block;	
}

/*about me*/

.about-me {
	width: 960px;
	margin:0 auto;
	padding: 20px 0px 20px;
	background-color: #e2f0df
}

.about-me-description {
	margin: 0 auto;
	width: 50%;
	font-family: Georgia;
	float: left;
	padding: 5px 50px 5px 100px;
	
}

.titles {
	font-size: 30px;
	padding: 20px 0px 20px;
	font-family: Georgia bold;
	margin: 0 auto;
	width: 50%;
}

.portrait {
	margin: 0 auto;
	width: 20%;
    background-color: #fff;
    border-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;

}


/*footer*/
.footer{
	margin: 0 auto;
	width: 960px;
	padding: 0;
}
.footer-titles {
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.contact-display {
	margin: auto;
	width: 50%;
	display: inline-block;
	float: left;
	padding: 15px 0px;
	
}

.contact-name {
	width: 50%;
	float:left;
}

.contact-address {
	width: 50%;
	float:left;
}

.contact-menu{
	padding: 20px 10px 20px 10px;
}

.contact-item{
	padding: 5px 0px;
}

.social-media-display {
	margin: auto;
	width: 50%;
	display: inline-block;
	float: left;
	padding: 15px 0px;

}

.social-media-menu {
	margin: auto;
}

.social-media-item {
	width: 10%;
	height: 10%;
	float: left;
	padding: 25px 20px;
}


/*footer-end*/

.portfolio-list--fixed{
	list-style-type: none;
	margin: 0 auto;
	width: 320px;
	padding: 5px;
}

@media (min-width: 768px) {
	.portfolio-list--fixed {
		width: 586px;
	}
	.project-video--fixed {
		width: 253px;
		height: auto;
		float: left;
		margin: 25px;
	}
}

@media (min-width: 1024px) {
	.portfolio-list--fixed {
		width: 984px;
	}
	.project-video--fixed {
		width: 288px;
		height: auto;
	}	
}

.project-video--fixed {
	width: 210px;
	height: auto;
	margin: 25px auto;
	display: block;
}
















