
/*clearfix class */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/*body styles*/

body {
	background-color: #f8fff7;
	line-height: 1em;
}

/*Media query which says when the screen 
is at least 700px width, that's 700px or bigger, 
make the background blue. */
@media screen and (min-width: 700px) {
	
	body {
		background-color: #f8fff7;
	}
}

/*Navigation*/
.portfolio-navigation {
	height: 50px;
	background-color: #201e1c;
}

.navigation-item {
	display: inline-block;
	
}

.navigation-menu{
	text-align: center;
	padding-top: 20px;
}

.navigation-link {
	padding: 0 20px;
	text-decoration: none;
	color: #ffffff;
	transition: color 0.5s;
}
.navigation-link:hover {
	color: #b8b8b8;
}

.is-active{
	border-bottom: 2px solid white;

}
/*Defining the container widths */

/*Because we're designing for mobile first,
we'll start off with a container width of 240px and 
used media queries to increase the size */
.main-container {
	background-color: #92c14d;
	width: auto;
	height: auto;
	margin: auto;
}

/*Home Page */

.main-projects-preview {
	margin: 0 auto;
	width: 960px;
	padding: 0;

}

.main-image-preview {
	margin: 0 auto;
	width: 960px;
	display: inline-block;	
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div.captioned-gallery { 
  width: 960px; overflow: hidden; 
  margin: 0 auto;
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 26s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}



/*about me*/

.about-me {
	width: 960px;
	margin:0 auto;
	padding: 20px 0px 20px;
	background-color: #e2f0df
}

.about-me-description {
	margin: 0 auto;
	width: 50%;
	font-family: Georgia;
	float: left;
	padding: 5px 50px 5px 100px;
	
}

.titles {
	font-size: 30px;
	padding: 20px 0px 20px;
	font-family: Georgia bold;
	margin: 0 auto;
	width: 50%;
}

.portrait {
	margin: 0 auto;
	width: 20%;
    background-color: #fff;
    border-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;

}

/*about me end*/

/*Portfolio*/

.portfolio-list--fixed{
	list-style-type: none;
	width: 960px;
	margin:0 auto;
	padding: 20px 0px 20px;
	background-color: #e2f0df
}

@media (min-width: 768px) {
	.portfolio-list--fixed {
		width: 960px;
		margin: 0 auto;
	}
	.project-video--fixed {
		width: 50%;
		height: auto;
		float: left;
		margin: 5px auto;
	}
}

@media (max-width: 320px) {
	.portfolio-list--fixed {
		width: 320px;
		margin: 0 auto;
	}
	.project-video--fixed {
		width: 320px;
		height: auto;
		float: left;	
	}
	.footer{
		margin:0 auto;
		width: 320px;
		padding: 0;
	}
}


/*contact*/

.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-family: Georgia;
  font-size: 32px;
}
.wrapper {
  width: 960px;
  height: 50%;
  margin: 0 auto 0 auto;
  padding: 25px 0;
  background-color: #e2f0df

}
.font {
  font-size: 16px;
  font-family: Georgia, sans-serif;
  color: white;
}
.form {
  text-align: center; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
.shadow{
  box-shadow: 0px 0px 20px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 45%; 
  margin: 40px auto 0 auto;
  padding: 0 10px;  
  -webkit-animation: shadow 1.5s infinite;
}
.field-in {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.name {
  background-color: #99c98f;  
  border-bottom: 5px solid #4d7d43;
}
.name:hover{
  background-color: #e6ffe2;
  border-bottom: 5px solid #9ab396;
}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}
.email {
  background-color: #99c98f;  
  border-bottom: 5px solid #4d7d43;
}
.email:hover{
  background-color: #e6ffe2;
  border-bottom: 5px solid #9ab396;
}
.message {   
  background-color: #99c98f;
  border-bottom: 5px solid #4d7d43;
  overflow: hidden;
  height: 50px;
}
.message:hover{
  background-color: #e6ffe2;
  border-bottom: 5px solid #9ab396;
  height: 150px;
}
.submit{
  border-radius:5px;
  padding:10px;
  background-color: #99c98f;  
  border: none;
  border-bottom: 5px solid #4d7d43;  
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.submit:hover{
  -webkit-transform: translate(0, 4px);
  border-bottom: 2px solid #e6ffe2;  
  box-shadow: inset 0px 0px 10px 10px #9ab396;
  cursor: pointer;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { 
   color: white;
}

::-moz-placeholder { 
   color: white; 
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes bounce{
  0%{
    
  }
  50%{
    -webkit-transform: translate(0, 8px);
  }
}
@-moz-keyframes bounce{
  0%{
    
  }
  50%{
    -moz-transform: translate(0, 8px);
  }
}
@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@-moz-keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}

/*footer*/
.footer{
	margin: 0 auto;
	width: 960px;
	padding: 0;
}
.footer-titles {
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.contact-display {
	margin: auto;
	width: 50%;
	display: inline-block;
	float: left;
	padding: 15px 0px;
	
}

.contact-name {
	width: 50%;
	float:left;
}

.contact-address {
	width: 50%;
	float:left;
}

.contact-menu{
	padding: 20px 10px 20px 10px;
}

.contact-item{
	padding: 5px 0px;
}

.social-media-display {
	margin: auto;
	width: 50%;
	display: inline-block;
	float: left;
	padding: 15px 0px;

}

.social-media-menu {
	margin: auto;
}

.social-media-item {
	width: 10%;
	height: 10%;
	float: left;
	padding: 25px 20px;
}


/*footer-end*/

















